*{
	margin: 0;
	padding: 0;
}
::selection{
	background-color: #2ab2ab;
}
body{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333333;
}
body::-webkit-scrollbar{
	display: none;
}
header{
	width: 100%;
	height: 100%;
	background-image: url(../img/th.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
}
/* header::before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
} */
.cevno{
	width: 100%;
	padding: 5vh 10vw;
	text-align: right;
	color: white;
	position: fixed;
	top: 0;
	right: 0;
}
.cevno a{
	color: white;
}
.cevno h1{
	margin-top: 1rem;
	font-size: 3.5rem;
	font-weight: 900;
}
.cevno p{
	font-weight: 300;
	font-size: 1.5em;
	margin: 30px 0;
	border-radius: 4px;
}
.cevno p:nth-child(2){
	font-weight: 500;
	font-size: 2rem;
}
a{
	text-decoration: none;
	position: relative;
}
a::after{
	content: "";
	position: absolute;
	z-index: -1;
	top: 60%;
	left: -0.1em;
	right: -0.1em;
	bottom: 0;
	transition: top 200ms cubic-bezier(0, .8, .13, 1);
	background-color: rgba(0, 0, 0, .5);
	border-radius: 4px;
}
a:hover::after{
	top: 10%;
}
.beian{
	width: 100%;
	padding: 5px 0;
	position: fixed;
	bottom: 0;
	text-align: center;
	z-index: 0;
}
.beian a{
	color: white;
	font-size: 13px;
}




section{
	width: 100%;
	height: 100%;
	background-image: url(../img/th.jpg);
	background-color: #2AB2AB;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	/* filter: blur(20px); */
}
/* footer{
	width: 100%;
	height: 100%;
} */
